.Label {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 16px;
}

.Input {
  width: 326px;
  height: 49px;
  border-radius: 8px;
  border: 1px solid #857372;
  outline: #857372;
}